mulesoft-alexa-sys-api/src/main/mule/mulesoft-alexa-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="mulesoft-alexa-sys-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="mulesoft-alexa-sys-api-config" api="mulesoft-alexa-sys-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="mulesoft-alexa-sys-api-main">
        <http:listener config-ref="mulesoft-alexa-sys-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mulesoft-alexa-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\cancelOrders:application\json:mulesoft-alexa-sys-api-config">
        <logger level="INFO" message="delete:\cancelOrders:application\json:mulesoft-alexa-sys-api-config" />
        <flow-ref doc:name="binance-cancel-open-orders" doc:id="96514e91-c1b3-40f2-8cc8-fd82dc986677" name="binance-cancel-open-orders" />
    </flow>
    <flow name="get:\imageurl:application\json:mulesoft-alexa-sys-api-config">
        <logger level="INFO" message="get:\imageurl:application\json:mulesoft-alexa-sys-api-config" />
        <flow-ref doc:name="call-coinapi-endpoint" doc:id="1e5393e7-7df4-471a-8321-5b0ae5f42e3d" name="call-coinapi-endpoint" />
    </flow>
    <flow name="get:\openOrders:mulesoft-alexa-sys-api-config">
        <logger level="INFO" message="get:\openOrders:mulesoft-alexa-sys-api-config" />
        <flow-ref doc:name="binance-open-orders" doc:id="3514d505-f9e8-4fa0-89b9-c0fe772f6f3c" name="binance-open-orders" />
    </flow>
    <flow name="get:\tredningCrypto:mulesoft-alexa-sys-api-config">
        <logger level="INFO" message="get:\tredningCrypto:mulesoft-alexa-sys-api-config" />
        <flow-ref doc:name="call-coingecoko-api" doc:id="c0cae734-c32b-4a45-8560-2a4c76693919" name="call-coingecoko-api" />
    </flow>
    <flow name="post:\limitOrder:application\json:mulesoft-alexa-sys-api-config">
        <logger level="INFO" message="post:\limitOrder:application\json:mulesoft-alexa-sys-api-config" />
        <flow-ref doc:name="binance-limit-order" doc:id="eda6097f-01ec-44f4-a93d-bf9640679cef" name="binance-limit-order" />
    </flow>
    <flow name="post:\marketOrder:application\json:mulesoft-alexa-sys-api-config">
        <logger level="INFO" message="post:\marketOrder:application\json:mulesoft-alexa-sys-api-config" />
        <flow-ref doc:name="binance-market-order" doc:id="808b90d1-5351-4d4c-88e6-fdcce2292f02" name="binance-market-order" />
    </flow>
    <flow name="get:\coinMarket:mulesoft-alexa-sys-api-config">
        <logger level="INFO" message="get:\coinMarket:mulesoft-alexa-sys-api-config" />
		<flow-ref doc:name="call-coinMarket-api" doc:id="afb89336-477c-41db-83cd-e9909e3b5db1" name="call-coinMarket-api"/>
    </flow>
</mule>
